.submenu {
    margin-left: 20px;
}

footer {
    background-color: #f6f6f6;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.footer-about{
    padding: 20px 20px 0 20px;
}

.img-page {
    max-width: 600px;
}

.linktree-main {
    text-align: center;
}
